.DS_Store
.#*
*.iml
/.idea
/target
pom.xml
pom.xml.asc
/.lein-*
/.nrepl-port
.DS_Store
jupyter/.ipynb_checkpoints/
.cljs_node_repl
out
node_modules
**.shadow-cljs
package-lock.json
public/
.clj-kondo/.cache