{:deps {org.clojure/clojure {:mvn/version "1.10.1"},
        dm3/stopwatch {:mvn/version "0.1.1"},
        cljsjs/odex {:mvn/version "2.0.4-0"},
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"},
        org.clojure/clojurescript {:mvn/version "1.10.773"},
        potemkin/potemkin {:mvn/version "0.4.5"},
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"},
        com.google.guava/guava {:mvn/version "23.0"},
        com.taoensso/timbre {:mvn/version "4.11.0-alpha1"},
        hiccup/hiccup {:mvn/version "1.0.5"},
        org.clojure/core.match {:mvn/version "1.0.0"},
        nrepl/nrepl {:mvn/version "0.7.0"},
        cljsjs/complex {:mvn/version "2.0.11-0"},
        borkdude/sci {:mvn/version "0.2.1"},
        cljsjs/bigfraction {:mvn/version "4.0.12-0"}}
 :aliases {:repl {:jvm-opts ["-Dsicmutils.debug_generics=true"]}}}
