{:aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {io.github.nextjournal/clerk
    {:git/sha "d08c26043efe19a92fe33dd9eb4499e304e4cff7"}}}

  :clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"]}}

 :paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"},
        dm3/stopwatch {:mvn/version "0.1.1"},
        cljsjs/odex {:mvn/version "2.0.4-0"},
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"},
        org.clojure/clojurescript {:mvn/version "1.10.773"},
        potemkin/potemkin {:mvn/version "0.4.5"},
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"},
        com.taoensso/timbre {:mvn/version "5.1.2"},
        hiccup/hiccup {:mvn/version "1.0.5"},
        org.clojure/core.match {:mvn/version "1.0.0"},
        cljsjs/complex {:mvn/version "2.0.11-0"},
        org.babashka/sci {:mvn/version "0.3.2"},
        cljsjs/bigfraction {:mvn/version "4.1.1-0"}}}
