{:deps {:aliases [:test :cljs]}
 :builds {:test
          {:target    :node-test
           :output-to "target/main/node-tests.js"
           :compiler-options {:infer-externs :auto}}

          ;; Test advanced compilation with `shadow-cljs compile advanced`.
          :advanced
          {:target    :browser
           :output-to "target/main/advanced.js"
           :modules {:base {:entries [emmy.env]}}
           :compiler-options {:infer-externs :auto
                              :optimizations :advanced}}}}
