{:config-in-comment
 {:linters {:unresolved-symbol {:level :off}
            :invalid-arity {:level :off}}}

 :config-paths ["../resources/clj-kondo.exports/emmy/emmy"
                "com.gfredericks/test.chuck"]

 :output {:exclude-files ["src/data_readers.clj"]}

 :linters
 {:unsorted-required-namespaces {:level :warning}
  :redundant-fn-wrapper {:level :warning}
  :single-key-in {:level :warning}}

 :lint-as
 {clojure.test.check.clojure-test/defspec clojure.test/deftest
  clojure.test.check.generators/let clojure.core/let
  clojure.test.check.properties/for-all clojure.core/let}}
