{:hooks
 {:analyze-call
  {sicmutils.env/define-coordinates
   hooks.emmy.calculus.coordinate/define-coordinates

   sicmutils.env/let-coordinates
   hooks.emmy.calculus.coordinate/let-coordinates

   sicmutils.env/using-coordinates
   hooks.emmy.calculus.coordinate/using-coordinates

   sicmutils.env/bootstrap-repl!
   hooks.emmy.env/bootstrap-repl!

   sicmutils.env/literal-function
   hooks.emmy.abstract.function/literal-function

   sicmutils.env/with-literal-functions
   hooks.emmy.abstract.function/with-literal-functions}}}
