{:lint-as {sicmutils.numerical.quadrature.common/defintegrator clojure.core/def
           sicmutils.util.def/import-vars potemkin/import-vars
           sicmutils.util.def/defgeneric clojure.core/defmulti}


 :hooks
 {:analyze-call
  {sicmutils.abstract.function/with-literal-functions
   hooks.literal-functions/with-literal-functions

   sicmutils.calculus.coordinate/define-coordinates
   hooks.let-coordinates/define-coordinates

   sicmutils.calculus.coordinate/let-coordinates
   hooks.let-coordinates/let-coordinates

   sicmutils.calculus.coordinate/using-coordinates
   hooks.let-coordinates/using-coordinates

   sicmutils.env/define-coordinates
   hooks.let-coordinates/define-coordinates

   sicmutils.env/let-coordinates
   hooks.let-coordinates/let-coordinates

   sicmutils.env/using-coordinates
   hooks.let-coordinates/using-coordinates

   sicmutils.env/literal-function
   hooks.literal-functions/literal-function

   sicmutils.env/with-literal-functions
   hooks.literal-functions/with-literal-functions

   sicmutils.util.def/import-def
   hooks.import-def/import-def

   potemkin/import-def
   hooks.import-def/import-def

   pattern.rule/pattern hooks.rule/pattern

   com.gfredericks.test.chuck.clojure-test/checking
   hooks.chuck/checking}}}
