{:deps true
 :builds {:sicm-browser
          {:asset-path "out"
          :compiler-options {:optimizations :advanced
                              :output-wrapper false
                              :source-map true}                    
           :devtools {:http-root "."
                      :http-port 9000}
           :modules {:main {:entries [demo.minimal]}}
           :output-dir "out"
           :target :browser}}}